.bicicletas-bg {
  background-image: linear-gradient(
    to right,
    var(--cor-0) 30%,
    var(--cor-11) 0%
  );
}

.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: url(../../img/dec/top-right.svg)no-repeat top 40px right 20px;
}

.bicicletas-imagem {
  position: relative;
}

.bicicletas-imagem span {
  background: var(--cor-12);
  padding: 8px 16px 8px 8px;
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0;
  border-radius: 4px 0 0 4px;
}

.bicicletas-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.bicicletas-conteudo a {
  place-self: end;
}

.bicicletas-conteudo img {
  width: 24px;
  margin-right: 8px;
}

.bicicletas h2,
.bicicletas p {
  grid-column: 1/-1;
}

.bicicletas h2 {
  margin-bottom: 20px;
}

.bicicletas h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  margin-bottom: 8px;
}

.bicicletas p {
  margin-bottom: 32px;
}

.bicicletas-conteudo ul {
  display: grid;
  gap: 16px;
}

.bicicletas li {
  display: flex;
  align-items: center;
}

@media (max-width: 900px) {
  .bicicletas-bg {
    background: var(--cor-11);
  }
  .bicicletas {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 40px 10px;
  }
}

@media (max-width: 600px) {
  .bicicletas-conteudo {
    grid-template-columns: 1fr;
  }
  .bicicletas-conteudo a {
    justify-self: center;
    margin-top: 40px;
  }
  .bicicletas ul {
    grid-template-columns: 1fr 1fr;
  }
}
