#orcamento {
  background: linear-gradient(var(--cor-11) 600px, var(--cor-1) 0px);
}

.orcamento {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding-bottom: 120px;
}

.orcamento h2 {
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
}

.orcamento h2::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 8px;
  background-color: var(--cor-p1);
  position: absolute;
  left: -12px;
}

.orcamento-produto,
.orcamento-dados {
  padding: 60px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.orcamento-produto {
  border-radius: 5px 0 0 5px;
  background: var(--cor-12);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-content: start;/*não alinhou o input radio*/
}

/* add JC=start, pois o input radio não estava alinhando */
.orcamento-produto > * {
    grid-column: 1/-1;
    justify-self: start;
}

.orcamento-produto > label {
    grid-column: initial;
}

.orcamento-produto label {
    font: 400 1rem/1.5 "poppins", sans-serif;
    color: var(--cor-4);
    background-color: var(--cor-10);
    display: block;
    padding: 12px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.orcamento-produto label::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border: 1px solid var(--cor-6);
    border-radius: 50%;
    margin-right: 8px;
    
}

.orcamento-produto input:checked + label::before {
    border-color:  var(--cor-7);
    box-shadow: inset 0 0 0 2px var(--cor-0),inset 0 0 0 6px var(--cor-p1);
}

.orcamento-produto input {
    opacity: 0;
    position:absolute;
    pointer-events: none;
}

.orcamento-produto input:checked + label {
    background: var(--cor-0);
    color: var(--cor-11);
}

.orcamento-dados {
  border-radius: 0 5px 5px 0;
  background: var(--cor-0);
}

#bikcraft:checked ~ #orcamento-bikcraft,
#seguro:checked ~ #orcamento-seguro {
  display: block;
}

