.tecnologia-bg {
    background-color: var(--cor-11);
    box-shadow: inset 0 120px var(--cor-0);
}

.tecnologia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.tecnologia-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.tecno {
    display: block;
    padding-bottom: 28px;
}

.tecnologia-conteudo {
    padding-top: ;
    padding-bottom: 160px;
}