.form {
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 20px;
}

.form label {
    display: block;
    font: 600 1.25rem/1.5 "poppins", sans-serif;
    margin-bottom: 4px;
}

.form input